<div id="<%= dom_id(@item) %>">
	<div class="fields_group">
	    	<h5>Sku:</h5>
  	<%= h @item.sku %>
  	  	<h5>Name:</h5>
  	<%= h @item.name %>
  	  	<h5>Description:</h5>
  	<%= h @item.description %>
  	  	<h5>Retail price cents:</h5>
  	<%= h @item.retail_price_cents %>
  	  	<h5>Active:</h5>
  	<%= h @item.active %>
  	  	<h5>Created at:</h5>
  	<%= h @item.created_at %>
  	  	<h5>Updated at:</h5>
  	<%= h @item.updated_at %>
  		</div>
</div>