<% fieldset do %>
<p><label>Login</label><%= f.text_field :login %></p>
<p><label>Email</label><%= f.text_field :email %></p>
<p><label>First name</label><%= f.text_field :first_name %></p>
<p><label>Last name</label><%= f.text_field :last_name %></p>
<p><label>Password</label><%= f.password_field :password %></p>
<p><label>Confirm Password</label><%= f.password_field :password_confirmation %></p>
<% end %>