<div id="<%= dom_id(@user) %>">
	<div class="fields_group">
	    	<h5>Login:</h5>
  	<%= h @user.login %>
  	  	<h5>Email:</h5>
  	<%= h @user.email %>
  	  	<h5>First name:</h5>
  	<%= h @user.first_name %>
  	  	<h5>Last name:</h5>
  	<%= h @user.last_name %>
  	  	<h5>Crypted password:</h5>
  	<%= h @user.crypted_password %>
  	  	<h5>Salt:</h5>
  	<%= h @user.salt %>
  	  	<h5>Created at:</h5>
  	<%= h @user.created_at %>
  	  	<h5>Updated at:</h5>
  	<%= h @user.updated_at %>
  	  	<h5>Remember token:</h5>
  	<%= h @user.remember_token %>
  	  	<h5>Remember token expires at:</h5>
  	<%= h @user.remember_token_expires_at %>
  	  	<h5>Activation code:</h5>
  	<%= h @user.activation_code %>
  	  	<h5>Activated at:</h5>
  	<%= h @user.activated_at %>
  	  	<h5>State:</h5>
  	<%= h @user.state %>
  	  	<h5>Deleted at:</h5>
  	<%= h @user.deleted_at %>
  		</div>
</div>